/* line 1, ../sass/main.scss */
#container, .menu, .sideMenu, .sidebar, .product .name, .product .image, .product .description, .product .price, .product .button, .item-image-container, .item-image, .item-content, .item-description, .item-suggest-container, .index-big-banner, .index-small-banner, .footer {
  border: 1px solid #eee;
}

/* line 5, ../sass/main.scss */
.list, .sidebar.is-Title {
  color: #fff;
}

/* line 9, ../sass/main.scss */
#container {
  width: 975px;
  margin: 0 auto;
}

/* line 15, ../sass/main.scss */
.row {
  /*margin-left:-15px;
  margin-right:-15px;*/
}

/* line 20, ../sass/main.scss */
.banner {
  border: 1px solid #eee;
  height: 150px;
  background-color: grey;
}

/* ================================= */
/* Top Bar CSS */
/* ================================= */
/* line 30, ../sass/main.scss */
.top_bar {
  background-color: black;
  height: 20px;
}

/* line 34, ../sass/main.scss */
.home_button {
  float: right;
}

/* line 37, ../sass/main.scss */
.home_button_top {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0 9px 9px 9px;
  border-color: transparent transparent #ffffff transparent;
}

/* line 45, ../sass/main.scss */
.home_button_bottom {
  margin-left: 5px;
  width: 9px;
  height: 9px;
  background: white;
}

/* line 52, ../sass/main.scss */
.line {
  float: right;
  padding-right: 10px;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: white;
  position: relative;
  display: block;
  z-index: 65;
}

/* line 63, ../sass/main.scss */
.top_bar_info {
  float: right;
  padding-right: 10px;
  color: white;
}

/* ================================= */
/* ================================= */
/* ================================= */
/* Menu CSS */
/* ================================= */
/* line 76, ../sass/main.scss */
#menu_bar {
  background-color: #2D5781;
}

/* line 80, ../sass/main.scss */
.menu {
  height: 24px;
}

/* line 85, ../sass/main.scss */
.list {
  display: inline-block;
  width: 10%;
  padding-left: 33px;
  /*border: 1px solid #eee;*/
}

/* line 93, ../sass/main.scss */
.subList {
  display: none;
}

/* line 98, ../sass/main.scss */
.subList li {
  border-top: 1px solid black;
  list-style-type: none;
  margin-left: -33px;
  background-color: grey;
  width: 115px;
  padding-left: 50px;
}

/* line 107, ../sass/main.scss */
.list:hover .subList {
  position: absolute;
  display: block;
  z-index: 100;
}

/* line 113, ../sass/main.scss */
.list:hover {
  background-color: grey;
}

/* line 118, ../sass/main.scss */
.subList li {
  color: white;
  text-decoration: none;
}

/* line 123, ../sass/main.scss */
.subList li:hover {
  background-color: #2D5781;
  text-decoration: none;
}

/* ================================= */
/* ================================= */
/* ================================= */
/* Product CSS */
/* ================================= */
/* line 135, ../sass/main.scss */
.sideMenu {
  height: 900px;
}

/* line 140, ../sass/main.scss */
.side_container {
  padding-top: 10px;
  height: 1000px;
}

/* line 145, ../sass/main.scss */
.sidebar {
  text-align: center;
}
/* line 149, ../sass/main.scss */
.sidebar.is-Title {
  background-color: #2D5781;
}
/* line 153, ../sass/main.scss */
.sidebar.is-Sub {
  padding-left: 44px;
}
/* line 157, ../sass/main.scss */
.sidebar.is-Top {
  background-color: lightblue;
}

/* ================================= */
/* ================================= */
/* ================================= */
/* Product CSS */
/* ================================= */
/* line 167, ../sass/main.scss */
#product_container {
  padding-top: 10px;
}

/* line 171, ../sass/main.scss */
.product {
  /*border: 1px solid #eee;*/
  height: 200px;
}

/* line 176, ../sass/main.scss */
.product .name {
  height: 10%;
}

/* line 181, ../sass/main.scss */
.product .image {
  height: 50%;
}

/* line 186, ../sass/main.scss */
.product .description {
  height: 20%;
}

/* line 191, ../sass/main.scss */
.product .price {
  height: 10%;
}

/* line 196, ../sass/main.scss */
.product .button {
  height: 10%;
}

/* ================================= */
/* ================================= */
/* ================================= */
/* Item Css */
/* ================================= */
/* line 207, ../sass/main.scss */
#item_container {
  padding-top: 10px;
}

/* line 212, ../sass/main.scss */
.item-image-container {
  padding-left: 50px;
  padding-right: 50px;
  height: 600px;
}

/* line 219, ../sass/main.scss */
.item-image {
  height: 78%;
}

/* line 224, ../sass/main.scss */
.item-content {
  height: 600px;
}

/* line 229, ../sass/main.scss */
.item-description {
  height: 18%;
  margin-top: 4%;
}

/* line 235, ../sass/main.scss */
.item-suggest-container {
  height: 300px;
  margin-top: 4%;
}

/* ================================= */
/* ================================= */
/* ================================= */
/* Index Banner */
/* ================================= */
/* line 247, ../sass/main.scss */
#index_banner {
  padding-left: 15px;
  padding-right: 15px;
}

/* line 252, ../sass/main.scss */
.index-big-banner {
  height: 200px;
}

/* line 256, ../sass/main.scss */
.index-small-banner {
  height: 100px;
}

/* ================================= */
/* ================================= */
/* line 267, ../sass/main.scss */
.footer {
  background-color: grey;
  height: 150px;
}
